{% extends 'base.html.twig' %}

{% block title %}rave easily{% endblock %}

{% block body %}
    <div class="ravemap-index-spacer d-flex flex-row align-items-center justify-content-center flex-fill">
        <div class="ravemap-info rounded-3 p-5 text-white">
            <h1>Coming soon!</h1>
            <p class="lead">rav3map is an app that allows you to easily plan a rave and invite your friends!<br />It has precise navigation and a friends invitation system.</p>
            <div id="myFlipper" class="flipper"
                 data-reverse="true"
                 data-datetime="2021-10-01 00:00:00"
                 data-template="ddd|HH|ii|ss"
                 data-labels="Days|Hours|Minutes|Seconds"></div>
        </div>
    </div>
{% endblock body %}
